#containerNetwork { 
	position: relative;
	z-index:1;
	width: 96%;
	height: 98%;
	top: 1%;
	left: 2%;
	border: 1px;
	border-color: black;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	visibility: visible;
}

#optionsNetwork { 
	position:absolute;
	z-index:1;
	top: 0%;
	left: 5%;
	width: 90%;
	height: 20%;
	border-color: black;
}

#labelBarnesHut, #labelBarnesHutRadio, #labelRepulsion, #labelRepulsionRadio, #labelHierarchicalRepulsion, #labelCentralGravity, #labelNodeDistance, #GraphFocus, #FreezeLayout, #labelFreezeLayout {
	position:absolute;
	color: #404040;
	font-weight: bold;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#labelBarnesHut {
	left: 0%;
	top: 5%;
}

#labelBarnesHutRadio {
	left: 19%;
	top: 5%;
}

#labelRepulsion {
	left: 38%;
	top: 5%;
}

#labelRepulsionRadio {
	left: 56%;
	top: 5%;
}

#labelHierarchicalRepulsion {
	right: 8%;
	top: 5%;
}

#labelHierarchicalRepulsionRadio {
	position:absolute;
	right: 0%;
	top: 5%;
	color: #404040;
	font-weight: bold;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#labelCentralGravity {
	top: 20%;
	left: 0%;
}

#sliderCentralGravity {
	position:absolute;
	top: 22%;
	right: 0%;
	color: #404040;
	font-weight: bold;
	height: 5px;
    	width: 55%;
}

#labelNodeDistance {
	top: 35%;
	left: 0%;
}

#sliderNodeDistance {
	position:absolute;
	top: 37%;
	right: 0%;
	color: #404040;
	font-weight: bold;
	height: 5px;
    	width: 55%;
}

#GraphFocus, #FreezeLayout { 
	position:absolute;
	border-radius: 5px;
  	border: 1px #A0A0A0 solid; 
}

#GraphFocus {
	top: 50%;
	left: 0%;
}

#FreezeLayout, #labelFreezeLayout {
	top: 50%;
	right: 0%;
}

#labelFreezeLayout {
	right: 8%;
}

.disabled {
	opacity: 0.5;
}

