body, html {
	height: 100%;
	margin: 0;
	overflow:hidden;
	font-family: helvetica;
	font-weight: 100;
}

#layout {
	z-index:0;
	width: 100%; 
	height: 100%;
	top: -32px;
}

#logcontainer {
	z-index:2;
	width: 75%;
	height: 5%;
	display: block;
	border: 1px solid gray;
	text-align: center;
	overflow: hidden;
	left: 12.5%;
	resize: vertical; 
	-moz-resize: vertical; 
	border: solid 3px  #2290c9; 
	border-radius: 10px; 
	padding: 0.5%; position: absolute; 
	bottom: 10px; 
	-webkit-transform: rotate(-180deg); 
	-moz-transform: rotate(-180deg); 
	-o-transform: rotate(-180deg); 
	-ms-transform: rotate(-180deg); 
	-transform-transform: rotate(-180deg);
	background: rgba(255, 255, 255, 0.9);
	visibility: hidden;
	max-height: 98%;
}

#log {
	/*position: absolute;*/
	z-index:2;
	width: 99%;
	height: 100%;
	text-align:left;
	left: 0.5%;
	margin: 0px 0px 0px 0px;
	overflow-y: auto;
	overflow-x: auto;
	white-space: nowrap;
	line-height: 85%;
	resize: vertical; 
	-moz-resize: vertical; 
	-webkit-transform: rotate(-180deg); 
	-moz-transform: rotate(-180deg); 
	-o-transform: rotate(-180deg); 
	-ms-transform: rotate(-180deg); 
	-transform-transform: rotate(-180deg);

}

#layout {
	width: 100%;
	height: 100%;
}

#layout1,#layout2,#layout3,#layout4,#layout5 {
	position:absolute;
	width: 33%;
	height: 50%;
}

#layout1 {
	left:0%;
	top:0%;
}

#layout2 {
	left:33%;
	top:0%;
}

#layout3 {
	left:66%;
	top:0%;
}

#layout4 {
	left:15%;
	top:50%;
}

#layout5 {
	left:48%;
	top:50%;
}


