body, html {
	height: 100%;
	margin: 0;
	overflow:hidden;
	font-family: helvetica;
	font-weight: 100;
}

#layout {

	width: 100%; 
	height: 100%;
	top: -32px;
}

/*#logcontainer {
	width: 99%;
	height: 15%;
	display: block;
	border: 1px solid gray;
	text-align: center;
	overflow: hidden;
	overflow: hidden; 
	resize: vertical; 
	-moz-resize: vertical; 
	border: solid 3px  #2290c9; 
	background: #fff; border-radius: 10px; 
	padding: 0.5%; position: absolute; 
	bottom: 0; 
	-webkit-transform: rotate(-180deg); 
	-moz-transform: rotate(-180deg); 
	-o-transform: rotate(-180deg); 
	-ms-transform: rotate(-180deg); 
	-transform-transform: rotate(-180deg);
}

#log {
	width: 100%;
	height: 100%;
	bottom: 0; 
	resize: vertical; 
	-moz-resize: vertical; 
	-webkit-transform: rotate(-180deg); 
	-moz-transform: rotate(-180deg); 
	-o-transform: rotate(-180deg); 
	-ms-transform: rotate(-180deg); 
	-transform-transform: rotate(-180deg);
}*/

#logcontainer {
	z-index:2;
	width: 75%;
	height: 15%;
	display: block;
	border: 1px solid gray;
	text-align: center;
	overflow: hidden;
	left: 12.5%;
	resize: vertical; 
	-moz-resize: vertical; 
	border: solid 3px  #2290c9; 
	border-radius: 10px; 
	padding: 0.5%; position: absolute; 
	bottom: 8px; 
	-webkit-transform: rotate(-180deg); 
	-moz-transform: rotate(-180deg); 
	-o-transform: rotate(-180deg); 
	-ms-transform: rotate(-180deg); 
	-transform-transform: rotate(-180deg);
	background: rgba(255, 255, 255, 0.5);
}

#log {
	z-index:2;
	width: 100%;
	height: 100%;
	bottom: 0; 
	resize: vertical; 
	-moz-resize: vertical; 
	-webkit-transform: rotate(-180deg); 
	-moz-transform: rotate(-180deg); 
	-o-transform: rotate(-180deg); 
	-ms-transform: rotate(-180deg); 
	-transform-transform: rotate(-180deg);
}


